credentials.py
__pycache__
.idea
debug.log
download_tracking
magideco.c
magideco_cow.exe
picture_downloader.py
youtube to wikia uploads
/VGM/
/venv/
user-password.py
pywikibot-TFF-Bot.lwp
/apicache-py3/
/logs/commands.log
throttle.ctrl
